build-QtPlayground-Boot2Qt_5_9_1_Emulator-Debug/
build-QtPlayground-Desktop_Qt_5_9_1_MSVC2015_64bit-Debug/
build-QtPlayground-Raspberry_Pi_Nutrimmune_Emulator-Debug/

*.user

*.user.*

build-QtPlayground-Boot2Qt_*_Emulator-Debug/
